.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.form-json-saver-container{
    font-family:'Comic Sans MS';
    background: salmon;
}

.form-button-container {
    background: linear-gradient(cadetblue, salmon);
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
}

.btn-stop {
    width: 150px;
    height: 15 0px;
    border-radius: 50%;
    border-color: black;
    background: darkRed;
    margin: 20px;
    font-size: 2rem;
    font-weight: 500;
}

.btn-start {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border-color: black;
    background: darkolivegreen;
    margin: 20px;
    font-size: 2rem;
    font-weight: 500;
}

.title-part {
    background: teal;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
}

.form-label-value{
    font-size: 0.5rem;
    font-weight: 100;
}

.form-label-text {
    font-weight: 700;
    font-size: 1.2rem;
}

.form-title {
    text-align: center;
    font-size: 4rem;
    font-weight: 670;
    font-family: Papyrus;
    color: darkseagreen;
}

.form-range {
    outline: none;
}

.form-check-input {
    width: 30px !important;
    height: 30px !important;
    border: 2px;
    background: white;
    margin: 0;
    top: 0;
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.form-checkbox-container {
    display: flex;
    flex-direction: column;
}

.form-control-text-area {
    width: 1225px;
    background: lightgray;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.4rem;
    font-weight: 350;
}

.form-check-input:checked {
    background: black;
    border-color: orangered;
}

.form-check-label {
    width: 30px !important;
    height: 30px !important;

}

.dj-controls-container {
    background: lightgray;
    color: black;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
